
_gsdata_/

# always-ignore extensions
*.diff
*.log
*.err
*.jar
*.zip

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Folders to ignore
.svn
WebContent
code/library.0.1.2.js

code/library.0.1.2.js

*._gs

*._gs

_gsdata_/_insync_v4.gsl

_gsdata_/_file_state_v4._gs

code/library.0.1.3.js

style/theme.css
