html,body{width:100%;height:100%;margin:0;padding:0;overflow:hidden;font-family:VERDANA;}
header,iframe{position:fixed;top:0px;width:100%;height:42px;border:none;background:#4c6173;}
.color1{background:#1c2f40;}
.color2{background:#4c6173;}
.color3{background:#8094a6;}
.color3-2{background-image:linear-gradient(#8094a6, #4c6173);}
.color4{background:#d9d1ba;}
.color5{background:#f2e9d8;}
.color-font1{color:#F5C107;}
.color-font2{color:#FAFAFA;}
.color-font3{color:lightgrey;}
