
   		
 	#punkt:hover {
 	  stroke:rgba(50,50,50, 0.8);
 	  stroke-width:2px;
 	  cursor:crosshair;
 	}
 	
 	form {
 		position:relative;
 		top:20px;
 		color:#FFFFFF;
 		width:900px;
 		height:280px;
 	}
 	
 	fieldset {
 		display:inline-block;
		/*	height:75%; */
 		width:190px;
    float:left;
    border-radius: 6px;
 	} 		
 	
 	fieldset > legend {
 	 	color:#FFFFFF;
 	}
 	
 	fieldset input {
 		width: 60px;
 		height: 20px;
 	}
 	
 	fieldset select {
 		width: 64px;
 		padding: 3px;
 	}